<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/header.ejs') %>
    </header>
    <main>
      <div class="jumbotron">
        <h1>Top de Mascotas</h1>
        <p><%= tagline %></p> <!--introduzco texto plano-->

        <ul> <!--lista de mascotas con un bucle for-->
          <% mascots.forEach((mascot)=>{ %>
            <li>
              <strong><%= mascot.name %></strong>
              representing <%= mascot.organization %>, 
              born <%= mascot.birth_year %>
            </li>
          <% }) %>
        </ul>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
